.header {
    height: 80px;
    position: fluid;
    top: 0;
    width: 100%;
    background-color: midnightblue;
    padding:5px;
}

.heading{
    font-size: 20px;
}
.menu{
    border: none;
    background: transparent;
    color: white;
    padding-top: 20px;
    
}

.loginSection {
    text-align: right;
}

.login-button {
    border: none;
    background: transparent;
    border-radius: 5px;
    line-height: 38px;
    padding: 0 10px;
    color: white;
    padding-top: 10px;
    margin-right: 10px;
}

.signup-button {
    border: none;
    background: transparent;
    border-radius: 5px;
    line-height: 38px;
    padding: 0 10px;
    padding-top: 10px;
    color: white;
}

.popup-heading {
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.login-btn {
    background: #192f60;
    color: white;
}

.login-btn:hover {
    color: #192f60;
    background: white;
    border: 1px solid #192f60;
}

.bottom-text {
    color: #192f60;
    text-align: center;
}