 .bodySection {
    margin-top: 400px;
    min-height: 100px;
    position: relative;
}
.body-container{
    margin-top: 60px;
    min-height: 100px;
    position: relative;
}
.body-header {
    height: 43px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.form-header{
    height: 43px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #192f60;
}

.form-container{
    background-color: #E2DECF;
}

.form-btn {
    background: #315bb4;
    color: white;
    width: 120px;
}

.dropdn  
{  
margin-left: 250px;  
margin-top: 20px;  
margin-right: 250px;  
padding: 30px;  
}  
.slct  
{  
margin-top: 20px;  
}

