 .bodySection {
    margin-top: 400px;
    min-height: 100px;
    position: relative;
}
.body-container{
    margin-top: 60px;
    min-height: 100px;
    position: relative;
}
.body-header {
    height: 43px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.form-header{
    height: 43px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #192f60;
}

.form-container{
    background-color: #E2DECF;
}

.form-btn {
    background: #315bb4;
    color: white;
    width: 120px;
}

.dropdn  
{  
margin-left: 250px;  
margin-top: 20px;  
margin-right: 250px;  
padding: 30px;  
}  
.slct  
{  
margin-top: 20px;  
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 50px 0 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #f6f8fa;
  }
  
  .autocomplete-wrapper {
    width: 350px;
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-wrapper > div {
    width: 100%;
  }
  
  .autocomplete-wrapper input {
    border: none;
    padding: 12px 12px;
    font-size: 14px;
    width: 400px;
  }
  
  .autocomplete-wrapper input:focus {
    border-color: #0F67FF;
    box-shadow: none;
    outline: none;
  }
  
  .autocomplete-wrapper .dropdown {
    width: 100%;
    padding: 0;
    text-align: left;
    max-height: 20px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 10px solid #0F67FF;
    border-top: none;
  }
  
  .autocomplete-wrapper .item  {
    display: block;
    cursor: pointer;
    font-size: 14px;
    color: black;
    padding: 7px;
  }
  
  .autocomplete-wrapper .item.selected-item {
    background-color: #0069ff;
    color: black;
  }
  
  .autocomplete-wrapper .item:hover {
    background-color: #0069ff;
    color: black
  }

